/**
 * @file
 * Default styles for any JASM generated service list
 */

/** Wrapper **/
/* Undo the default item-list padding and margins */
.jasm--service-list--wrapper.item-list .jasm--service-list {
  margin: 0;
  padding: 0;
}
.jasm--service-list--wrapper.item-list li {
  margin: 0 1em 0 0;
  margin: 0 var(--gutter, 1em) 0 0;
  padding: 0;
}

/** Service list **/
.jasm--service-list {}

/** Inline list **/
.jasm--service-list--inline {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}
.jasm--service-list--inline li {
  display: inline;
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  list-style: none;
  padding: 0;
  margin: 0;
}