.jasm--hide-service-label {
  display: block;
  text-indent: -9999em;
}

.jasm--inline-list li {
  display: inline-block;
}

.jasm--service-list li {
  margin: 0 0.5rem;
}

.jasm--inline-list li:first-child {
  margin-left: 0;
}
