{#
/**
* @file
* Default theme to display a Twitter widget.
*
* Available variables:
* - twitter_handle: The username of the account to display a timeline widget for
* - width: The widget width (integer) in pixels
* - height: The widget height (integer) in pixels
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}
<a class="twitter-timeline" data-width="{{ width }}" data-height="{{ height }}" data-theme="{{ theme_color }}" data-link-color="#2B7BB9" href="https://twitter.com/{{ twitter_handle }}">Tweets by {{ twitter_handle }}</a>
