{#
 /**
  * @file
  * Default template for the JASM place Facebook SDK
  *
  * Available variables:
  * - facebook_app_id: The application ID provided by developers.facebook.com for the Facebook page timeline being added
#}
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v4.0&appId={{ facebook_app_id }}&autoLogAppEvents=1"></script>

