{#
/**
 * @file
 * Default template for an embedded Facebook (https://www.facebook.com) timeline widget
 *
 * Available variables:
 * - facebook_page_url: The fully qualified URL to the Facebook page
 * - width: The px width the widget should render as. Will attempt to adapt to container width by default.
 * - height: The px height the widget should render as.

#}
<div
  class="fb-page"
  data-href="{{ facebook_page_url }}"
  data-tabs="timeline"
  data-width="{{ width }}"
  {% if height is not null and height is not empty %}data-height="{{ height }}" {% endif %}
  data-small-header="false"
  data-adapt-container-width="true"
  data-hide-cover="false"
  data-show-facepile="true">
  <blockquote cite="{{ facebook_page_url }}" class="fb-xfbml-parse-ignore">
    <a href="{{ facebook_page_url }}">&nbsp;</a>
  </blockquote>
</div><!-- .fb-page -->
